.events {
  &__backside {
    display: flex;
    align-items: center;
    column-gap: 24px;
    width: fit-content;
    margin-bottom: 24px;
    padding: 16px;
  }
}

@media screen and (max-width: 768px) {
  .events {
    &__backside {
      flex-direction: column;
      row-gap: 8px;
      margin-bottom: 8px;
    }
  }
}
