.select {
  padding: 4px 8px;
  background-color: var(--color-sand);
  column-gap: 12px;
  border-radius: 8px;
  outline: none;

  &-option {
    padding: 0px 16px;

    &--selected {
      background: var(--color-violet);
      color: var(--color-white);
    }

    &:hover {
      background: var(--color-violet);
      color: var(--color-white);
    }
  }
}
