:root {
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #00f;
  --color-red: rgb(189, 22, 22);
  --color-green: rgb(37, 176, 37);
  --color-violet: #8b00f0;
  --color-sand: #f5f5f5;
  --color-orange: #ff9224;
}
